@model SacramentMeetingPlanner.Models.Planner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sacrament Meeting Planner</h4>
    <h3>Estancia Branch</h3>
    <p>@Html.DisplayFor(model => model.Date)</p>
    <hr />
    <dl class="row">        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member1ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member1ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member2ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member2ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn1ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hymn1ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member3ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member3ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn2ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hymn2ID)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialHymn)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn3ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hymn3ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member4ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member4ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn4ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hymn4ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlannerID" class="btn btn-primary">Edit</a> 
    <a asp-action="Index">Back to List</a>
</div>
